:root {
    --height-lg-screens: 80px;
    --bg-color-lg-screens: #b3d6ff;
  }
  
  .Navbar {
    display: flex;
    justify-content: space-between;
    /* by default: align-items: strech -> child elements' heights = the container's height */
  
    height: var(--height-lg-screens); /* set a fixed height */
    background-color: var(--bg-color-lg-screens);
  }
  
  .navbar-links {
    display: flex;
    /* align-items: stretch; by default */
  }
  
  .navbar-home,
  .navbar-link {
    display: flex;
    align-items: center; /* we want children to be centered vertically*/
  
    padding: 16px; /* with paddings on the sides */
  }
  
  .navbar-home {
    height: var(--height-lg-screens); /* it needs to stay inside the nav bar */
    box-sizing: border-box;
  }
  
  .navbar-link {
    border-bottom: 2px solid var(--bg-color-lg-screens);
  }
  
  .navbar-link:hover {
    border-bottom-color: red;
  }
  
  .toggle {
    display: none;
    padding: 8px;
    font-size: 16px;
  }
  
  .logo {
    width: 34px;
    height: 34px;
  }
  
  /**
  *
  * Smaller screen + Mobile
  *
  */
  @media screen and (max-width: 800px) {
    .Navbar {
      flex-direction: column; /* change the direction of the container */
  
      height: auto; /* overrides the height of 80px set for large screens */
      background-color: var(--bg-color-lg-screens);
    }
  
    .navbar-links {
      flex-direction: column;
    }
  
    .navbar-links.closed {
      /* when toggled, hide the main nav*/
      display: none;
    }
  
    .toggle {
      display: block;
    }
  
    .navbar-link {
      border-bottom: none;
    }
  }
  
  button {
    background-color: transparent;
    border: none;
  }
  
 
  

  